<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classement</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Classement</h1>
    <table class="table mt-4">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Nom</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player, index : ${players}">
            <td th:text="${index.index + 1}"></td>
            <td th:text="${player.name}"></td>
            <td th:text="${player.score}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
