<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ECF3 - Gestion de Tournoi d'Échecs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ECF3</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-light mr-2" th:href="@{/login/signin}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary text-light mr-2" th:href="@{/login/signup}">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="mt-4">ECF3 - Gestion de Tournoi d'Échecs</h1>

    <h2 class="mt-4">Page d'accueil</h2>
    <p>Bienvenue sur la page d'accueil de notre application de gestion de tournoi d'échecs.</p>

    <div class="my-4">
        <h3>Vue d'ensemble du tournoi</h3>
        <p>Ici, vous trouverez les informations sur les prochains matches et les résultats des matches précédents :</p>

        <div class="my-4">
            <h4>Prochains matches</h4>
            <ul class="list-group">
                <li class="list-group-item">Match 1 : Joueur A vs Joueur B - Date et heure</li>
                <li class="list-group-item">Match 2 : Joueur C vs Joueur D - Date et heure</li>
                <li class="list-group-item">Match 3 : Joueur E vs Joueur F - Date et heure</li>
            </ul>
        </div>

        <div class="my-4">
            <h4>Résultats des matches précédents</h4>
            <ul class="list-group">
                <c:forEach var="match" items="${previousMatches}">
                    <li class="list-group-item">Match ${match.id} : ${match.getPlayer1()} vs ${match.getPlayer2()} - ${match.result}</li>
                </c:forEach>
            </ul>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
